/*****************/
/*extends-Mixins*/
/*****************/


.borde-habilidades{
    border-radius: 20px;
    background-color: #208ed8;
}
.borde-habilidades2{
    @extend .borde-habilidades;
    background-color: #dd85e0;
}

.borde-habilidades3{
    @extend .borde-habilidades;
    background-color: #f495b2;
}
.borde-habilidades4{
    @extend .borde-habilidades;
    background-color: #f4bb99;
}
.borde-habilidades5{
    @extend .borde-habilidades;;
    background-color: #732751;
}
.borde-habilidades6{
    @extend .borde-habilidades;
    background-color: #ffc95b;
}

.borde-habilidades7{
    @extend .borde-habilidades;
    background-color: #ff0f4f;
}




